<!-- index.hbs -->
<div class="container mt-5">
  <div class="d-flex flex-column align-items-center d-grid gap-3">
    <!-- category dropdown -->
    <div class="dropdown mb-3">
      <button class="btn btn-secondary dropdown-toggle dropdown" style="min-width: 300px;" type="button" id="category"
        data-bs-toggle="dropdown" aria-expanded="false">
        類別
      </button>
      <ul class="dropdown-menu" style="min-width: 300px;" aria-labelledby="category">
        <li><a class="dropdown-item" href="/category/1">家居物業</a></li>
        <li><a class="dropdown-item" href="/category/2">交通出行</a></li>
        <li><a class="dropdown-item" href="/category/3">休閒娛樂</a></li>
        <li><a class="dropdown-item" href="/category/4">餐飲食品</a></li>
        <li><a class="dropdown-item" href="/category/5">其他</a></li>
      </ul>
    </div>

    <!-- show total amount -->
    <div class="totalAmount d-flex justify-content-between">
      <p>總金額：</p>
      <h1>{{totalAmount}}</h1>
    </div>

    <!-- record list -->
    {{#each records}}
    <ul class="list-group list-group-horizontal">
      <!-- record details -->
      <li class="list-group-item">
        <div class="row" style="min-width: 400px;">
          <div class="d-flex">
            <div class="d-flex align-items-center w-100 bd-highlight">
              <i class="fa-solid fa-{{this.icon}}" style="font-size: 50px; color:aquamarine"></i>
              <div class="m-2">
                <p class="m-0" style="font: size 28px;">
                  {{this.name}}
                </p>
                <p class="m-0" style="color: gray;">
                  {{this.date}}
                </p>
              </div>
            </div>
            <div class="d-flex align-items-center flex-shrink-1 bd-highlight">
              <p class="m-0" style="font-size:28px;">
                {{this.amount}}
              </p>
            </div>
          </div>
        </div>
      </li>
      <!-- action btn -->
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <a class="btn btn-success m-1" href="/records/edit/{{ this._id }}">Edit</a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
            <button class="btn btn-danger m-1" type="submit">Delete</button>
          </form>
        </div>
      </li>
    </ul>

    <!-- Create new record btn -->
    <div class="mt-3">
      <a href="/records/new"><button class="btn btn-success" style="min-width: 300px;">新增支出</button></a>
    </div>

  </div>
</div>